---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import HeroIndex from '../components/HeroIndex.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Newsletter" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />

		<HeroIndex />
		
		<div class="mx-auto grid grid-cols-12 mt-3">
			
			<div class="dark:prose-invert prose prose-slate prose-xl md:prose-lg col-span-10 col-start-2 col-end-12 md:col-span-6  md:col-start-4 md:col-end-10 mx-auto">
				<main>
					
<p>
	This newsletter is for freelance science writers. That need help running all aspects of their business. It focuses on activities related to activities online. Things like blogging, promotion, social media, etc.
	</p>
	<p>
	It solves a simple problem. It delivers the best tools and relevant info to your inbox each week.
	</p>
	<h2><strong>Why This Matters</strong></h2>
	
	
	<p>
	You might use a website, blog, or other media to promote your freelance services. You've earned a DIY education on the job. I've spent a decade learning all that I could. I want to share the resources that I've found along the way.
	</p>
	<h3><strong>Speed</strong></h3>
	
	
	<p>
	Don't waste your time with a Google search. I'm discovering the best advice every week. I'm sharing that wisdom in a digest format.
	</p>
	<h3><strong>Productivity</strong></h3>
	
	
	<p>
	You don't have all the time in the day to manage all you need for your business. As a solopreneur, you are doing it all yourself. These are the best tools and insights to save you time.
	</p>
	<h3><strong>Encouragement</strong></h3>
	
	
	<p>
	Things are rough when starting. I've been there. I'll write you something encouraging each week to keep you going. You are always free to email me if you need support.
	</p>
	<h2><strong>What I've Done</strong></h2>
	
	
	<p>
	I started in 2010 as a writer for a website generating articles for Google News.
	</p>
	<ul>
	
	<li>Learned the basics of SEO and how to find trending topics.
	
	<li>Averaged 50,000 views a month.
	
	<li>Taught my fellow writers how to promote content on Twitter.
	</li>
	</ul>
	<p>
	At ArCompany, I was responsible for acting as a liaison between clients and our vendors.
	</p>
	<ul>
	
	<li>Managed content marketing strategy and writers under the VP of Sales.
	
	<li>Performed research and analytics for proposals.
	
	<li>Worked with vendors to analyze results from their Big Data tools to report findings.
	</li>
	</ul>
	<p>
	The Director of Community for the Tabletop Game Publisher TSR (Now Solarian Games.)
	</p>
	<ul>
	
	<li>Grew Facebook page from 1,000 to 4,000 followers in a year.
	
	<li>Leveraged Pinterest to grow community by pinning Facebook posts.
	
	<li>Created a community strategy around family, legacy, and ritual.
	</li>
	</ul>
	<h2><strong>What People Are Saying</strong></h2>
					
		</main>
		</div>
		</div>
		<Footer />
		  </script>
	</body>
</html>
