---
import { Image } from 'astro:assets';
import logo from "../assets/logo.png";
import { SITE_TITLE } from '../consts';
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove
---

<header>
	<nav>

	<div class="drawer">
		<input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
		<div class="drawer-content flex flex-col">
		  <!-- Navbar -->
		  <div class="w-full navbar bg-base-100">
			<div class="flex-none lg:hidden">
			  <label for="my-drawer-3" class="btn btn-square btn-ghost">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
			  </label>
			</div> 
			<div class="flex-1 px-2 mx-2">
				<Image src={logo} alt="logo image" class="h-12 w-12" format="avif" quality="mid" />
				<h2 style="font-family: 'megrim', sans-serif;" class="text-2xl"><a href="/">{SITE_TITLE}</a></h2>
			</div>
			<div class="flex-none hidden lg:block">
			  <ul class="menu menu-horizontal">
				<!-- Navbar menu content here -->
				<li><a class={currentPath === "" ? "active" : ""} href="/">Home</a></li>
				<li><a class={currentPath === "blog" ? "active" : ""} href="/blog">Blog</a></li>
				<li><a class={currentPath === "about" ? "active" : ""} href="/about">About</a></li>
			  </ul>
			</div>
		  </div>
		</div> 
		<div class="drawer-side">
		  <label for="my-drawer-3" class="drawer-overlay"></label> 
		  <ul class="menu p-4 w-80 bg-base-100 h-screen">
			<!-- Sidebar content here -->
			<li><a class={currentPath === "" ? "active" : ""} href="/">Home</a></li>
			<li><a class={currentPath === "blog" ? "active" : ""} href="/blog">Blog</a></li>
			<li><a class={currentPath === "about" ? "active" : ""} href="/about">About</a></li>
			
		  </ul>
		  
		</div>
	  </div>
	
	</nav>
</header>

