---
import { Image } from 'astro:assets';
import vertical from "../assets/science-vertical-h319.jpg";
---
<div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
    <Image src={vertical} alt="Science doodles on a black backround" class="max-w-sm rounded-lg shadow-2xl  hidden lg:block" format="avif" quality="mid" />
      <div>
        <h1 class="text-5xl font-bold">Improve your science writing by getting the tools you need.</h1>
        <div class="py-6">
       <p>You do most of your learning on the job.These resources will do three things for your science writing. They will save you time, keep you informed, and give you encouragement. </p>
        <p class="my-2 text-2xl"> Get a <span class="font-bold">free list of writing resources</span> when you subscribe to the weekly newsletter.</p>
          </div>
        <button class="btn btn-primary">I want my tools</button>
      </div>
    </div>
  </div>